#one{
    background-color: palevioletred;
}
#three{
    background: palevioletred;
}
h1{
    background: lightskyblue;
    text-align: center;
}
h2,h3,img,#intro{
    margin-left: 10px;
}
nav li{
    margin-bottom: 8px;
}
img{
    border: 6px dotted darkcyan;
    height: 350px;
    width: 350px;
    padding: 4px;
}
table, tr, th,td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
tr:hover{
    background-color: lightgrey;
}
tr:nth-child(odd){
    background-color: wheat;
}
